<% include layout/header.html %>

<section class="content-block search-reports">
  <div class="container">
    <h2 class="text-center">Search a collection of reports from the offices of Inspectors General across the federal government.</h2>
    <form action="results" method="GET">
      <br>
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 input-group input-group-lg">
        <input type="text" class="form-control input-lg" name="query" placeholder="e.g. waste, fraud, abuse" required>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-lg btn-info" type="button">Go!!!</button>
        </span>
      </div>
    </form>
  </div>
</section>

<section class="content-block newsletter">
  <div class="overlay"></div>
  <div class="content">
    <div class="container">
      <form action="https://tinyletter.com/oversight" method="POST">
        <h1>Or I could just read them for you &hellip;</h1>
        <br>
        <p>
          Sign up for a biweekly newsletter summarizing the most interesting work of the US government's oversight community.
        </p>
        <br>
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 input-group">
          <input type="email" class="form-control" id="email" name="email" placeholder="your.name@email.com" required>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-info" type="button">Yeah, Okay</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="content-block agency-links">
  <div class="container">

  <h2 class="col-xs-12 content-heading">Browse Reports by Agency</h2>

  <% for(var key in agencies) { %>
    <a href="/agency/<%= key %>" class="col-xs-12 col-sm-6 col-md-4">
      <div class="card">
        <h4 class="text-center"><%= agencies[key] %></h4>
      </div>
    </a>
  <% } %>

  </div>
</section>


<section class="content-block latest-reports">
  <div class="container">

  <h2 class="col-xs-12 content-heading">Read some of the most recent reports</h2>

  <% for (i = 0; i < 6; i++) {  %>
    <% var report = results.hits.hits[i]._source %>
    <a href="/report/<%= report.inspector %>/<%= report.report_id %>" class="col-xs-12 col-sm-6 col-md-4">
      <div class="card">
        <h4><%= report.title %></h4>
        <hr>
        <div class="row">
          <p class="col-xs-3 col-xs-offset-1 text-left "><%= report.published_on %></p>
          <p class="col-xs-7 text-right"><%= report.agency_name %></p>
        </div>
      </div>
    </a>
  <% } %>

  </div>
</section>

<% include layout/footer.html %>